<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NEW_UI2/UI_TY_button/btn_di1_1.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_di1_2.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_icon_jingjichang.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_wanfa.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_jianglizhanshi.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_xiaobiaoti_xian.png</key>
			<dict>
				<key>width</key>
				<integer>532</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>532</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_di1_1_zhezhao.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIJingjichang0.png</string>
			<key>realTextureFileName</key>
			<string>UIJingjichang0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>