<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Map1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1290},{728,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,146}}</string>
                <key>sourceSize</key>
                <string>{728,146}</string>
            </dict>
            <key>Map1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1290},{741,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,122}}</string>
                <key>sourceSize</key>
                <string>{741,122}</string>
            </dict>
            <key>Map2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1290},{728,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,157}}</string>
                <key>sourceSize</key>
                <string>{728,157}</string>
            </dict>
            <key>Map2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1290},{741,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,171}}</string>
                <key>sourceSize</key>
                <string>{741,171}</string>
            </dict>
            <key>Map3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,570},{1482,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1482,363}}</string>
                <key>sourceSize</key>
                <string>{1482,363}</string>
            </dict>
            <key>Map3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,937},{1456,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1456,349}}</string>
                <key>sourceSize</key>
                <string>{1456,349}</string>
            </dict>
            <key>Map4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1482,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1482,563}}</string>
                <key>sourceSize</key>
                <string>{1482,563}</string>
            </dict>
            <key>Map4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,3},{1456,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1456,541}}</string>
                <key>sourceSize</key>
                <string>{1456,541}</string>
            </dict>
            <key>Map6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1290},{741,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,126}}</string>
                <key>sourceSize</key>
                <string>{741,126}</string>
            </dict>
            <key>Map6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1290},{728,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,127}}</string>
                <key>sourceSize</key>
                <string>{728,127}</string>
            </dict>
            <key>Map7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1421},{622,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,91}}</string>
                <key>sourceSize</key>
                <string>{622,91}</string>
            </dict>
            <key>Map7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1421},{624,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,67}}</string>
                <key>sourceSize</key>
                <string>{624,67}</string>
            </dict>
            <key>barrier_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1421},{499,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,307}}</string>
                <key>sourceSize</key>
                <string>{499,307}</string>
            </dict>
            <key>tiankong.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1732},{640,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,180}}</string>
                <key>sourceSize</key>
                <string>{640,180}</string>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1463},{626,161}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,24},{626,161}}</string>
                <key>sourceSize</key>
                <string>{728,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc559bf941629513b5d868623b333f7$</string>
            <key>textureFileName</key>
            <string>Bg.png</string>
        </dict>
    </dict>
</plist>
