<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang5_di.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang6_di.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_jihuotiaojian.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_xiaobiaoti_di1.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/btn_jihuoshenqi_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/btn_jihuoshenqi_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang4_fengexian.png</key>
			<dict>
				<key>width</key>
				<integer>454</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>454</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_baoshi_dizuo.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_baoshi_1.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_baoshi_zhezhao.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_putong.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_gaoji.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_dancixiaohao.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_yinbi.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/Img_xilianshi.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_baocun_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_baocun_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_quxiao_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_quxiao_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_tiejiangpu/btn_xilian1_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_tiejiangpu/btn_xilian1_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_tiejiangpu/btn_xilian10_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_tiejiangpu/btn_xilian10_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_dagou_1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_dagou_2.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_yixilianzhidingji.png</key>
			<dict>
				<key>width</key>
				<integer>406</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>406</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_fagong.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_tiao_shuxing_2.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_tiao_shuxing_3.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_tiao_shuxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_juese/img_di1.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>744</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_weijihuo.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_wenhao.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_kuang_zhuangbei_zhezhao.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_kuang_zhuangbei_1.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_kuang_zhuangbei_2.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>680</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_wenhao.jpg</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shenqi/img_shenqi_name_di.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>349</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>349</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIArtifacts0.png</string>
			<key>realTextureFileName</key>
			<string>UIArtifacts0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>