<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>暴走水浒</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>As1949</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>weixin</string>
		<string>mqqapiwallet</string>
		<string>i4Tool4008227229</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>U8SDK</key>
	<dict>
		<key>AppId</key>
		<integer>1</integer>
		<key>AppKey</key>
		<string>bfbeea4bbeb6883477295d950a2e41f2</string>
		<key>Channel</key>
		<integer>1686</integer>
		<key>FlashScreen</key>
		<integer>0</integer>
		<key>Plugins</key>
		<array>
			<dict>
				<key>appid</key>
				<string>1949</string>
				<key>appkey</key>
				<string>7e82393bd8f54e7e822597e76c8ad482</string>
				<key>name</key>
				<string>as</string>
			</dict>
		</array>
		<key>TDAppId</key>
		<string>9A0BA77A22C769BD6C25959C953A0E14</string>
		<key>U8Url</key>
		<string>http://bzsh.hy.zcjoy.com/userver/</string>
		<key>Uaid</key>
		<integer>105</integer>
		<key>Uwid</key>
		<integer>262</integer>
	</dict>
	<key>UIAppFonts</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
