<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NEW_UI2/UI_jingjichang/img_guangxiao.png</key>
			<dict>
				<key>width</key>
				<integer>713</integer>
				<key>height</key>
				<integer>621</integer>
				<key>originalWidth</key>
				<integer>713</integer>
				<key>originalHeight</key>
				<integer>621</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang3_di.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang4_di.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_meicitiaozhan.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>76</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_tanchukuang2_zhezhao.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_shuoming_1.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>796</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_shuoming_2.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jia3_1.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jia3_2.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>842</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_di1.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>686</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_4ming.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>871</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_qingyuan/img_di1.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>796</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_zhenxing/img_zhandouli.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_di2.png</key>
			<dict>
				<key>width</key>
				<integer>446</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>446</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_icon_rongyu.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_xiangqing_1.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_xiangqing_2.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_di3.png</key>
			<dict>
				<key>width</key>
				<integer>529</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>531</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>938</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_juese/btn_tiaozhengzhenxing_1.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_juese/btn_tiaozhengzhenxing_2.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_shengchangjiangli_1.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>834</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_shengchangjiangli_2.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>555</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_rongyushangdian_1.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_rongyushangdian_2.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>611</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_patashilian/btn_paihangbang_1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_patashilian/btn_paihangbang_2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>719</integer>
				<key>y</key>
				<integer>655</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_tanchukuang1_di.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_tanchukuang2_di.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>627</integer>
				<key>y</key>
				<integer>763</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_close_line.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_biaoti_di.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>395</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_paihangjiangli.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_close1_1.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_close1_2.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_tanchukuang1_line.png</key>
			<dict>
				<key>width</key>
				<integer>587</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>587</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_genjumeiri.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1119</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_shenglv.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_di2.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1007</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_dangqianpaiming.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_lishizuigao.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_up.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>771</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_huodejiangli.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>1416</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_yuanbao.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_juese/img_fengexian.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>783</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_dianjikongbai.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>944</integer>
				<key>y</key>
				<integer>469</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_shengchangjiangli.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>1157</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_dadaozhiding.png</key>
			<dict>
				<key>width</key>
				<integer>624</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1119</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_paihangbang.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>988</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_wodepaiming3.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1416</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_dianjitouxiang.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_lishizuigao2.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1577</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_jingji_kuang1.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>461</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>988</integer>
				<key>y</key>
				<integer>599</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_di5.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>960</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_zhandouli.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shejiao/btn_qiecuo_1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1377</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_shejiao/btn_qiecuo_2.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_tanchukuang2_fengexian.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>578</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_icon_leiji.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>932</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_icon_leiji_2.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_lingqu_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1627</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/btn_lingqu_2.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1377</integer>
				<key>y</key>
				<integer>337</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_lingqu_4.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1470</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_yilingqu.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1043</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_icon_leiji_5.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_vs.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1778</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_di4.png</key>
			<dict>
				<key>width</key>
				<integer>387</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>387</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_jingjichang/img_goumaitiaozhan.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>1135</integer>
				<key>y</key>
				<integer>542</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jianyi_1.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>538</integer>
				<key>y</key>
				<integer>863</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jianyi_2.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>769</integer>
				<key>y</key>
				<integer>960</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jiayi_1.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_jiayi_2.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>914</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_shuliangkuang_di2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1621</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_queren_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1514</integer>
				<key>y</key>
				<integer>337</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_queren_2.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1407</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_quxiao_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_quxiao_2.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>1789</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIPvp0.png</string>
			<key>realTextureFileName</key>
			<string>UIPvp0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>