<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>暴走水浒</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iapppay.alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iapppay.alipay.com.AiBei.zcjoyprince</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.8.8</string>
	<key>GAME_DEF</key>
	<dict>
		<key>CENTRAL_SERVER</key>
		<string>game.bzsh.tt.zcjoy.com</string>
		<key>IsEnableLogo</key>
		<integer>0</integer>
		<key>LoginWithTianTuo</key>
		<integer>1</integer>
		<key>LogoPath</key>
		<string>Image/Bg/logo2.jpg</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TianTuo</key>
	<dict>
		<key>gid</key>
		<integer>37</integer>
		<key>key</key>
		<string>bzsh_mtjHT86$#jr</string>
	</dict>
	<key>U8SDK</key>
	<dict>
		<key>AppId</key>
		<integer>1</integer>
		<key>AppKey</key>
		<string>bfbeea4bbeb6883477295d950a2e41f2</string>
		<key>BuglyId</key>
		<string>900031168</string>
		<key>Channel</key>
		<integer>1005</integer>
		<key>Plugins</key>
		<array>
			<dict>
				<key>appid</key>
				<string>3005158517</string>
				<key>channel</key>
				<string>1005</string>
				<key>cpkey</key>
				<string>MIICXAIBAAKBgQCC9xHOPp84EaJQamUQRdWIgd8MC0i5/a3iCPwhfGtje0WsFUy2Ifbf4BaJGs1cCccBlZ+dI5Bbi93q5ziJJ8orJCxE1XUzXQPczDm0nbBfwktPrH7zCv/NqhD0g3tYi3ANfzGr7j171MsLtpDRSQqRwIgAlSiYV0mNXMflzvXBkQIDAQABAoGAPIUKAGHl19YmSLzx2PQ8eelx9jHcuL4mtVZrlNnXElCr4JqzKVNGryvxngf5sDeAdBX9fXMqyXM36M5SzObLQDgiVP41Wr3KM8NaTDEHFMDJx24key24Lyn1woz6PXSt+ukoPzRUA3S1vRPsHnRrhcuDITqfEAp6ZtmiiFh1zZUCQQDpjOj4D1k18QiVbSi+S0ZfP/pUX61jWCl0aMSnrR5FcTFHexT+jxfQP3idMMBMEjxNKh31F5Q+xBl+djBxo8uHAkEAj43K2TpCo6nJdQVwahkvMmJWrAk/zb/k6GnxZsIcW9wfKho/bPYzdRqnAkV+zAKi3yS8i+UjoSTU6tfkWuBAJwJBAKQLjuQWW9IwwJe8ud6YHxDublXvcmmSVmPm5yLjzZx3Omb8BC4dsltbCcxXnuqP8H0+9RXffwhrU4DpYXOg2mcCQFw8AmVoJYD6ilIB2KSS4dxBiuamWrRb4zvhNhWMCqSK3gszKiVcWtuW8E9pT3rNBtDQzcQkyauz+omZhUNOamkCQDM4SCAxjuDsoFkZ+qts8zjzdjeD/hyYjVlebKOV8Q9nq9+JyK6FD9KUVbzTLiu02/A0lCnwoyZc3TYCbyulyII=</string>
				<key>name</key>
				<string>TianTuo</string>
				<key>payCallbackUrl</key>
				<string>http://game.bzsh.tt.zcjoy.com/userver/pay/ipayios/payCallback/1005</string>
				<key>publickey</key>
				<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCVLIl6qhNLDyVAVbelj89wXd/RnNdSoxH+v5kOq/CiYpIk7B4HuV2pz3lkxveRd/WmNsGJAilmoAtXKygfeUaQuV0vn7vzU7eFpwuxKnrusfJ58dKsOarOkBsD3x1Pz50BFdQrNON6tDpBoLTgZ7TtfSE9XRwbx8Z8dWxKJq6A9QIDAQAB</string>
			</dict>
		</array>
		<key>TDAppId</key>
		<string>795FDAA0E3A97D26107DB535AB199505</string>
		<key>U8Url</key>
		<string>http://game.bzsh.tt.zcjoy.com/userver/</string>
		<key>Uaid</key>
		<integer>126</integer>
		<key>Uwid</key>
		<integer>300</integer>
	</dict>
	<key>UIAppFonts</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
