<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NEW_UI2/UI_kaifukuanghuan/img_huodongjieshu.png</key>
			<dict>
				<key>width</key>
				<integer>545</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>545</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/img_di1_l.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/img_di1_r.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_1tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_1tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_dian.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_2tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_2tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_3tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_3tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_4tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_4tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_5tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_5tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_6tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_6tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_7tian_1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_7tian_2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>835</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang7_di.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_quanpingkuang8_di.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/img_di2.png</key>
			<dict>
				<key>width</key>
				<integer>593</integer>
				<key>height</key>
				<integer>445</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>445</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_VIP/btn_goumai_1.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_VIP/btn_goumai_2.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>830</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_VIP/img_yigoumai.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>221</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>314</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_icon_di2.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_icon/img_yuanbao.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_VIP/img_yuanjia.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_VIP/img_tejia.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_di4.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_basic Material/img_huaxian.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_fenye_2.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>487</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/btn_fenye_1.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>592</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_kaifukuanghuan/img_di1.png</key>
			<dict>
				<key>width</key>
				<integer>576</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>576</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_lingqu_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_lingqu_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>487</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_lingqu_4.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_renwu/btn_qianwang_1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_renwu/btn_qianwang_2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>778</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NEW_UI2/UI_TY_button/btn_lingqu_5.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UINewActivity0.png</string>
			<key>realTextureFileName</key>
			<string>UINewActivity0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>