<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>暴走水浒</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.8.8</string>
	<key>GAME_DEF</key>
	<dict>
		<key>AppStoreUrl</key>
		<string>itms-apps://itunes.apple.com/cn/app/bao-zou-shui-hu-shou-chuang/id1077666112?mt=8</string>
		<key>CENTRAL_SERVER</key>
		<string>game.bzsh.ios.zcjoy.com</string>
		<key>IsEnableLogo</key>
		<integer>0</integer>
		<key>LoginWithTianTuo</key>
		<integer>0</integer>
		<key>LogoPath</key>
		<string>Image/Bg/logo2.jpg</string>
	</dict>
	<key>INMOBI</key>
	<dict>
		<key>inmobiID</key>
		<string>699abac678bf4a12be3afd101bc5490c</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<true/>
	<key>REYUN</key>
	<dict>
		<key>appkey</key>
		<string>e088d077d22d609b2bfcb7e90465406d</string>
		<key>default</key>
		<string>_default_</string>
		<key>state</key>
		<integer>1</integer>
	</dict>
	<key>U8SDK</key>
	<dict>
		<key>AppId</key>
		<integer>1</integer>
		<key>AppKey</key>
		<string>f32fdc02123a82524eb4ea95e1383d0b</string>
		<key>BuglyId</key>
		<string>900031168</string>
		<key>Channel</key>
		<integer>1001</integer>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>AppStore</string>
			</dict>
		</array>
		<key>TDAppId</key>
		<string>20346904788EB55853B62620DC600251</string>
		<key>U8Url</key>
		<string>http://game.bzsh.ios.zcjoy.com/userver/</string>
		<key>Uaid</key>
		<integer>12</integer>
		<key>Uwid</key>
		<integer>28</integer>
	</dict>
	<key>UIAppFonts</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
